
.hero_page {
    background-color: black;
}

.hero_background {
    background: url("../Assets/batman-backpose.png") center/cover;
    height: 100vh;
}

.search-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px;
    padding-top: 50px;
}

.search-container {
    display: flex;
    gap: 30px;
    margin: 30px auto;
    justify-content: center;
}

/* hero list (unordered list) styling*/
.hero_section {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 5%;
}

/* hero block (list element) styling */
.hero_block {
    border-color: black;
    padding: 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 90%;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(233, 203, 253);
}

.expand-btn {
  background-color: rgb(233, 203, 253);
  border-radius: 100px;
  box-shadow: rgba(223, 175, 255, 0.2) 0 -25px 18px -14px inset,rgba(44, 80, 187, 0.15) 0 1px 2px,rgba(44, 80, 187, .15) 0 2px 4px,rgba(44, 80, 187, .15) 0 4px 8px,rgba(44, 80, 187, .15) 0 8px 16px,rgba(44, 80, 187, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.expand-btn:hover {
  box-shadow: rgba(44,80, 187,.35) 0 -25px 18px -14px inset,rgba(44,80, 187,.25) 0 1px 2px,rgba(44,80, 187,.25) 0 2px 4px,rgba(44,80, 187,.25) 0 4px 8px,rgba(44,80, 187,.25) 0 8px 16px,rgba(44,80, 187,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.ddg-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px; /* Adjusted height to make it smaller */
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin-top: 7px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center; /* Centered text */
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.ddg-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.ddg-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.ddg-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

